.dropdown_container {
  height: 100%;

  .toggle {
    position: relative;
    a {
      display: block;
      padding: 29px 0;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      a {
        text-decoration: none;
      }
    }
  }

  .active {
    position: relative;
    &::after {
      display: block;
      content: '';
      height: 5px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: #7a72df;
    }
  }

  .dropdown_content {
    position: absolute;
    left: -20px !important;
    z-index: 30;
    display: flex;
    border: 1px solid #dcdcf4;
    border-radius: 7px;
    background-color: #fff;
    padding: 20px 30px;

    .links_wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 10px;

      a {
        margin: 10px 0;
        color: #7a7d85;
        white-space: nowrap
      }
    }
  }
}

.dropdown_wrapper {
  margin-right: 25px;
  position: static;

  @media screen and (min-width: 960px) {
    margin-right: 30px;
  }
}

.toggle {
  white-space: nowrap;
}

.dropdown_content {
  position: absolute;
  left: -20px !important;
  z-index: 30;
  display: flex;
  border: 1px solid #dcdcf4;
  border-radius: 7px;
  background-color: #fff;
  padding: 20px 30px;
}